{% extends 'generic_inner_content.html' %}
{% load static %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block level_3_inner_content %}

    {% load social_media_tags %}
    {% get_social_media_links as social_accounts %}
    <style>
        .hover-shadow:hover {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1) !important;
            transform: translateY(-3px);
            transition: all 0.3s ease-in-out;
        }

        .media-block {
            margin-bottom: 60px;
            margin-top: 40px;
        }

        .blog-post-content img,
        .blog-post-content iframe,
        .blog-post-content embed {
            margin-bottom: 30px;
        }

        .post-details p {
            max-height: 48px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* Eğer d-flex sınıfı çalışmazsa bunu kullanın */
        .grid-item {
            display: flex !important;
        }

        .blog-post {
            height: 100% !important;
            width: 100%;
            /* İçerikleri alt ve üst olarak ayırmak isterseniz: */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    </style>
    {% if page.body %}
        {% for block in page.body %}
            {% if block.block_type == 'blog_section' %}
                <!-- start blog content section -->
                <section>
                    <div class="container">
                        <div class="row justify-content-center">
                            <article
                                    class="col-xl-9 col-lg-8 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom">

                                {% for media in block.value.blog_media %}
                                    <div class="col-12 blog-post-content margin-60px-bottom sm-margin-30px-bottom text-center text-md-start">
                                        {% if media.image %}
                                            <div class="blog-image">
                                                {% image media.image fill-1200x752 as blog_img %}
                                                <img src="{{ blog_img.url }}" alt="{{ page.title }}">
                                            </div>
                                        {% endif %}

                                        {# Video (YouTube, Vimeo) #}
                                        {% if media.video %}
                                            <div class="fit-videos">
                                                <iframe src="{{ media.video }}" width="640" height="360"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        referrerpolicy="strict-origin-when-cross-origin"
                                                        allowfullscreen></iframe>
                                            </div>
                                        {% endif %}

                                        {# Slider (Swiper) #}
                                        {% if media.slider %}
                                            <div class="swiper-full-screen swiper white-move"
                                                 data-slider-options='{ "loop": true, "slidesPerView": "1", "autoplay": { "delay": 5000 } }'>
                                                <div class="swiper-wrapper">
                                                    {% for slide in media.slider %}
                                                        {% image slide width-1200 as slider_img %}
                                                        <div class="swiper-slide">
                                                            <img src="{{ slider_img.url }}" alt="Slider Image">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="swiper-pagination swiper-pagination-square swiper-pagination-white"></div>
                                                <div class="swiper-button-next light"><i class="ti-angle-right"></i>
                                                </div>
                                                <div class="swiper-button-prev light"><i class="ti-angle-left"></i>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {# Galeri (Lightbox) #}
                                        {% if media.gallery %}
                                            <div class="w-100">
                                                <ul class="hover-option4 lightbox-gallery portfolio-wrapper grid grid-3col xl-grid-3col lg-grid-3col md-grid-3col sm-grid-2col xs-grid-1col">
                                                    <li class="grid-sizer"></li>
                                                    {% for gal in media.gallery %}
                                                        {% image gal fill-800x650 as gal_img %}
                                                        <li class="grid-item">
                                                            <a href="{{ gal_img.url }}" title="{{ page.title }}"
                                                               data-group="lightbox-gallery">
                                                                <figure>
                                                                    <div class="portfolio-img bg-extra-dark-gray">
                                                                        <img src="{{ gal_img.url }}" alt=""
                                                                             class="project-img-gallery"/>
                                                                    </div>
                                                                    <figcaption>
                                                                        <div class="portfolio-hover-main text-center">
                                                                            <div class="portfolio-hover-box align-middle">
                                                                                <div class="portfolio-hover-content position-relative">
                                                                                    <i class="ti-zoom-in text-white-2 fa-2x"></i>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </figcaption>
                                                                </figure>
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if media.file %}
                                            <div class="pdf-preview media-block">
                                                <embed
                                                        src="{{ media.file.url }}"
                                                        type="application/pdf"
                                                        width="100%"
                                                        height="600px">
                                                </embed>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}

                                {# Blog İçerik Alanı #}
                                <div class="blog-text border-all d-inline-block w-100">
                                    <div class="content padding-50px-all sm-padding-20px-all">
                                        <p class="m-0">{{ block.value.description|richtext }}</p>
                                    </div>
                                </div>
                            </article>

                            {# Sidebar #}
                            <aside class="col-xl-3 col-lg-4 col-md-7">
                                <div class="margin-45px-bottom sm-margin-25px-bottom">
                                    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title">
                                        <span>{{ page.get_parent.title }}</span></div>
                                    <ul class="list-style-6 margin-50px-bottom text-small">
                                        {% for child in sidebar_categories %}
                                            <li><a href="{{ child.url }}">{{ child.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="margin-50px-bottom sm-margin-25px-bottom">
                                    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title">
                                        <span>{% translate 'Follow us' %}</span></div>
                                    <div class="social-icon-style-1 text-center">
                                        <ul class="extra-small-icon">
                                            {% for account in social_accounts %}
                                                <li><a href="{{ account.url }}" target="_blank"
                                                       class="{{ account.name }}"><i class="{{ account.icon }}"></i></a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </section>
                <!-- end blog content section -->
            {% elif block.block_type == 'contact_section' %}
                <!-- start help section -->
                <section class="wow animate__fadeIn" style="padding: 50px 0">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 text-center">
                                <span class="alt-font text-small text-uppercase">{% translate 'Our Contact Information' %}</span>
                                <h2 class="alt-font font-weight-700 letter-spacing-minus-1 text-extra-dark-gray">
                                    {% translate 'Contact Us' %}
                                </h2>
                                <p class="w-75 mx-auto sm-w-100">{{ block.value.descripton|richtext }}</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end help section -->

                <!-- start contact section -->
                <section class="margin-100px-bottom bg-extra-dark-gray">
                    <div class="container-fluid">
                        <div class="row row-cols-1 row-cols-lg-2">
                            {% if block.value.contact_image %}
                                {% image block.value.contact_image fill-1000x700 as c_img %}
                                <div class="col p-0 cover-background md-h-450px sm-h-350px wow animate__fadeInLeft">
                                    <iframe width="100%" height="699"
                                            src="https://maps.google.com/maps?width=100%&amp;height=750&amp;hl=en&amp;q=Ramazanoğlu mah. sultan sokak no:16 Pendik / İstanbul&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>

                                </div>
                            {% endif %}
                            <div class="col p-0 wow animate__fadeInRight">
                                <div class="row row-cols-1 row-cols-sm-2 m-0">
                                    <!-- Contact Address -->
                                    {% for addr in block.value.contact_address %}
                                        <!-- start contact item -->
                                        <div class="col bg-extra-dark-gray d-flex flex-column justify-content-center align-items-center text-center h-350px lg-h-300px sm-h-250px last-paragraph-no-margin">
                                            <i class="{{ addr.icon|safe }}"></i>
                                            <div class="text-white-2 text-uppercase alt-font font-weight-600 margin-5px-bottom">
                                                Adres :
                                            </div>
                                            {% for line in addr.address %}
                                                <div class="text-white-2">
                                                    {{ line|safe }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <!-- Contact Phone -->
                                    {% for phone in block.value.contact_phone %}
                                        <div class="col bg-black d-flex flex-column justify-content-center align-items-center text-center h-350px lg-h-300px sm-h-250px last-paragraph-no-margin">
                                            <i class="{{ phone.icon }}"></i>
                                            <div class="text-white-2 text-uppercase alt-font font-weight-600 margin-5px-bottom">
                                                {% translate 'Telephone' %}
                                            </div>
                                            {% for ph in phone.phone %}
                                                <div class="text-white-2">
                                                    {{ ph|safe }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <!-- Contact Email -->
                                    {% for email in block.value.contact_email %}
                                        <div class="col bg-black d-flex flex-column justify-content-center align-items-center text-center h-350px lg-h-300px sm-h-250px last-paragraph-no-margin">
                                            <i class="{{ email.icon }}"></i>
                                            <div class="text-white-2 text-uppercase alt-font font-weight-600 margin-5px-bottom">
                                                {% translate 'E-mail' %}
                                            </div>
                                            {% for em in email.email %}
                                                <div class="text-white-2">
                                                    <a href='mailto:{{ em }}' class="text-white-2">{{ em|safe }}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <!-- Working Hours -->
                                    {% for wh in block.value.contact_working_hours %}
                                        <!-- start contact item -->
                                        <div class="col bg-extra-dark-gray d-flex flex-column justify-content-center align-items-center text-center h-350px lg-h-300px sm-h-250px last-paragraph-no-margin">
                                            <i class="{{ wh.icon }}"></i>
                                            <div class="text-white-2 text-uppercase alt-font font-weight-600 margin-5px-bottom">
                                                {% translate 'Working Hours' %}
                                            </div>
                                            {% for hour in wh.working_hours %}
                                                <div class="text-white-2">
                                                    {{ hour|safe }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- end contact item -->
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end contact section -->
                {% include "home/partials/project_contact_form.html" with form=form %}
            {% elif block.block_type == 'about_us_section' %}
                <!-- start about us section -->
                <section class="bg-light py-5">
                    <div class="container">
                        <!-- Hero -->
                        <div class="row justify-content-center text-center mb-5">
                            <div class="col-lg-10">
                                <h2 class="alt-font fw-bold text-dark">{{ block.value.hero_section.title }}</h2>
                                {% if block.value.hero_section.subtitle %}
                                    <p class="lead text-muted mt-3">{{ block.value.hero_section.subtitle }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row align-items-center mb-5">
                            <div class="col-lg-6 order-lg-2 mb-4 mb-lg-0 text-center">
                                {% image block.value.company_profile.image width-600 class="img-fluid rounded shadow" %}
                            </div>
                            <div class="col-lg-6 order-lg-1">
                                <h4 class="text-dark text-center fw-bold mb-1">{{ block.value.company_profile.company_manager }}</h4>
                                <h4 class="text-dark text-center fw-bold mb-1">{{ block.value.company_profile.manager_jobs }}</h4>
                                <h4 class="text-dark text-center fw-bold mb-3">{{ block.value.company_profile.manager_title }}</h4>
                                <div class="text-muted fs-5">{{ block.value.company_profile.description|richtext }}</div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 mb-4">
                                <div class="p-4 bg-white border shadow-sm h-100">
                                    <h5 class="fw-bold text-dark mb-2">{% translate 'Vision' %}</h5>
                                    <p class="text-muted m-0">{{ block.value.vision_mission.vision }}</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="p-4 bg-white border shadow-sm h-100">
                                    <h5 class="fw-bold text-dark mb-2">{% translate 'Mission' %}</h5>
                                    <p class="text-muted m-0">{{ block.value.vision_mission.mission }}</p>
                                </div>
                            </div>
                        </div>
                        {% if block.value.values.items %}
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                                {% for value in block.value.values.items %}
                                    <div class="col">
                                        <div class="card h-100 border-0 shadow-sm text-center p-4 hover-shadow">
                                            <div class="mb-3">
                                                <i class="{{ value.icon_class }} text-primary fs-1"></i>
                                            </div>
                                            <h5 class="fw-bold text-dark">{{ value.title }}</h5>
                                            <p class="text-muted">{{ value.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </section>

                <!-- end about us section -->
            {% elif block.block_type == 'clients_slider_section' %}
                <!-- start post content section -->
                <section class="wow animate__fadeIn">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 blog-content">
                                <ul class="blog-grid blog-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col hover-option4 blog-post-style3 gutter-extra-large">
                                    <li class="grid-sizer"></li>

                                    {% for logo in block.value.logos %}
                                        <li class="grid-item last-paragraph-no-margin text-center text-sm-start wow animate__fadeInUp d-flex">
                                            {% image logo.logo width-600 as img_b %}

                                            <div class="blog-post bg-light-gray text-center h-100 w-100 d-flex flex-column justify-content-between"
                                                 style="padding: 20px;">

                                                <div>
                                                    <div class="blog-post-images mb-3"
                                                         style="aspect-ratio: 5 / 3; display: flex; align-items: center; justify-content: center; overflow: hidden;">
                                                        <a href="

                                                                {% if logo.link %}{{ logo.link }}{% else %}javascript:void(0){% endif %}">
                                                            <img src="{{ img_b.url }}" alt="{{ logo.company_name }}"
                                                                 style="max-width: 100%; max-height: 100%; object-fit: contain;"/>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="post-details" style="min-height: 100px; display: flex; flex-direction: column; justify-content: center;">
                                                    <a href="

                                                            {% if logo.link %}{{ logo.link }}{% else %}javascript:void(0){% endif %}"
                                                       class="alt-font post-title text-medium text-extra-dark-gray d-block mb-1">
                                                        {{ logo.company_name }}
                                                    </a>
                                                    <p class="text-small">{{ logo.work_description }}</p>
                                                </div>

                                            </div>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>

                    </div>
                </section>
                <!-- end blog content section -->
            {% endif %}

        {% endfor %}
    {% endif %}

    {% for section in page.empty_in_pages.all %}
        <!-- start latest blog section  -->
        <section class="border-top border-color-extra-light-gray wow animate__fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center
                                margin-100px-bottom md-margin-70px-bottom sm-margin-50px-bottom">
                        <h5 class="text-uppercase alt-font text-extra-dark-gray
                                   margin-10px-top margin-20px-bottom
                                   font-weight-700 md-w-100 sm-w-100">
                            {{ section.showcase.specific.title }}
                        </h5>
                        <span class="separator-line-horrizontal-medium-light2
                                    bg-deep-pink d-table mx-auto w-100px">
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 blog-content">
                        <ul class="blog-classic blog-wrapper grid grid-loading
                                   grid-4col xl-grid-4col lg-grid-3col md-grid-2col
                                   sm-grid-2col xs-grid-1col gutter-extra-large">
                            <li class="grid-sizer"></li>
                            {% for post in section.showcase.specific.get_children.live|slice:":4" %}
                                {% with p=post delay=forloop.counter0|stringformat:"d"|add:"0.2" %}
                                    <li class="grid-item last-paragraph-no-margin
                                                wow animate__fadeInUp"
                                        data-wow-delay="{{ delay }}s">

                                        <div class="blog-post blog-post-style1
                                                    text-center text-sm-start">
                                            {# — Görsel — #}
                                            <div class="blog-post-images overflow-hidden
                                                        margin-25px-bottom md-margin-20px-bottom">
                                                <a href="{{ p.url }}">
                                                    <img src="{{ p.specific.thumbnail_image.file.url }}"
                                                         alt="{{ p.title }}">
                                                </a>
                                            </div>
                                            <div class="post-details
                                                        margin-20px-bottom xs-no-margin-bottom">

                    <span class="post-author text-extra-small
                                 text-medium-gray text-uppercase
                                 d-block margin-10px-bottom
                                 sm-margin-5px-bottom">
                      {{ p.published_date|date:"d F Y" }}
                    </span>

                                                <a href="{{ p.url }}"
                                                   class="post-title text-medium text-extra-dark-gray
                                w-90 d-block md-w-100">
                                                    {{ p.title }}
                                                </a>
                                                <div class="separator-line-horrizontal-full
                                bg-medium-light-gray margin-20px-tb
                                md-margin-15px-tb"></div>

                                                <p class="w-90 sm-w-100">
                                                    {{ p.specific.description|richtext|striptags|truncatechars:50 }}
                                                </p>
                                            </div>

                                        </div>
                                    </li>
                                {% endwith %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- end latest blog section -->
    {% endfor %}

{% endblock %}
